* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Eudoxus Sans", sans-serif;
    cursor: default;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  a, button, [role="button"] {
    cursor: pointer;
  }
  