@import '../../styles/constants.scss';

.wrapper {
    background: white;
    overflow: hidden;

    .container {
        .infoPost {
            >h1 {
                padding: 1rem;
            }
        }
    }
}